<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
  <add key="IMAPHost" value="GOTbbdWlibMcjZLLEMZ7rQ==" />
  <add key="IMAPUser" value="wgfptuDZtKP20xquIbsGrhTeN02WbYOP5GiB+zSs8Fg=" />
  <add key="IMAPPassword" value="b2xnZ4YgXMet7UXt2fPHn4jTUYdxK7SPikjhi59npJ4=" />
  <add key="IMAPPort" value="W5I1LPgYCEfVs6rbXvx7uw==" />
  <add key="AutomationFileLocation" value="//GnOv8KPO0fKQ0xYkjx/dGrd3tywQPJY1S9VY0ckZo=" />
  <add key="AttachmentWorkingFolder" value="O8OFI5r3iDXssCSyjJ6MKQAuvRzYW+WIbQw97MqOv3wSs9NQrhrusj2w7K+H4vgO" />
  <add key="OutputFilesWorkingFolder" value="O8OFI5r3iDXssCSyjJ6MKWgHe/iD0aLhp3fEIlWRuMb7KwlTbalQK/cH3HZ6PU3U" />
  <add key="ErrorLogFileLocation" value="O8OFI5r3iDXssCSyjJ6MKbPYuHeC2ExqGegW7/CO0no=" />
  <add key="ExecutionLogFileLocation" value="O8OFI5r3iDXssCSyjJ6MKS0mTlZcjdJNsmL534lXsao=" />
  <add key="ErrorEventLog" value="oZS5gLx9ZcmRHjT3hz6Rvw==" />
  <add key="FromMailID" value="wgfptuDZtKP20xquIbsGrhTeN02WbYOP5GiB+zSs8Fg=" />
  <add key="FromMailPasssword" value="b2xnZ4YgXMet7UXt2fPHn4jTUYdxK7SPikjhi59npJ4=" />
  <add key="ToMailID" value="wgfptuDZtKP20xquIbsGrhTeN02WbYOP5GiB+zSs8Fg=" />
  <add key="MailDisclaimer" value="PmWzShDqXEXaB2INHSS7JWcrEWDdvFEajZVbywNtRIJ218f104qoTKWDbf45CYA2" />
  <add key="MailSMTPHost" value="ERALo7Diy9az6eA5z67snQ==" />
  <add key="MailSMTPPort" value="Ks6GKYfkZO5GhnmoyltJVQ==" />
  <add key="ApplicationName" value="DuDRU/oOJgTCkSgEAo+B3/oFwq6s4K7qkDWebCBnjs8=" />
  <add key="ReadEmailOnlyFrom" value="nyxDvhAESzw0EqcNkBg7ufGHFEO7R+f3voI9glGi44qGWEgj4dQs3MFm6LdRlKBx1dd508dfmKgn7am5ZSVnBA==" />
  <add key="BBBReadEmailSubject" value="cydB58ivFGBYxVzvJHJiIA==" />
  <add key="BBBCustomerName" value="cydB58ivFGBYxVzvJHJiIA==" />
  <add key="BBBEnable_cartoncountsummary" value="3Bme5xZsYcDlGtIDe8rJaQ==" />
  <add key="BBBEnableCartoncountsummaryOnly_orderlineitemAbove"
   value="4L4v1yFEa3GR2VGbH17OGg==" />
  <add key="MXDRYDReadEmailDomain" value="d4+KgDphahP6HdlT/uW/PA==" />
  <add key="MXDRYDReadEmailSubject" value="ozD8n5wzsdKlC98/+NOtaQ==" />
  <add key="TGTReadEmailSubject" value="br+Ir9P5/5WxzQJd45w0yA==" />
  <add key="TGTCustomerName" value="hcbkWgDHrkQn4/nNmmLefA==" />
  <add key="TgtCustomerMappingFilepath" value="O8OFI5r3iDXssCSyjJ6MKS8mgXhLe1yeWTjl1bntly4HYZVNIH/KSg8H2fm2M3o3x2vbR3o9e2mQ4fRebLaY8BUK8ekBAUFaJ7modccKlxxJZkdXngokgfdIKRRhEZYp" />
  <add key="LBRANDSReadEmailSubject" value="b7lCR6fICbwrWcwDGH2FBw==" />
  <add key="LBRANDSCustomerName" value="Kj9GF6ngxD63TyeJmEs9lg==" />
  <add key="DBConnection" value="SYErDwXjj55BxvI9Zz4C94c3DDwUWyT9i1nGJrFVaBI3B03fYeUiJP50K4mziB3PV76o1Y+FYRW63iirH4VPd1JKwBcFVsXoxd62OB+0PbQlTkt+9ZkIYE/KvwSTXGdgNSoTPWYL4VGOjESb0GX81g==" />
  <add key="EAGetMailLicenseCode" value="ZUAPdP7IGuaZfbr5CJgFRMcRMuqWTsGIu+696nW5V4mpGWRKvzb+m3JmllRlnaUGY1IJ8s4y0w7VudU6bosAHA==" />
  <add key="DatatracURL" value="62O8fL7dk1eiz4sc+WM1z9+nv4BcV2pSGkSCin0rrag=" />
  <add key="DatatracUserName" value="mRM1yodsmYr2r4xPiXqtajlKNnelcNcAiFfRvJbM3t8=" />
  <add key="DatatracPassword" value="SyeBS/kMXGM46PGXceuLYg==" />
  <add key="CDSReadEmailSubject" value="sYu7SwdG9V/3XP0E2Svp7w==" />
  <add key="CDSCustomerName" value="sYu7SwdG9V/3XP0E2Svp7w==" />
  <add key="CDS_Deliveryactualdeparttime_AddMin" value="rJjmkLwSZcdjMD9bJ/LA8w==" />
  <add key="CDSCorrectDriverNumberforWill" value="9/yy+jJEKlN+yWau9l7LwA==" />
  <add key="FSCRatesCustomerMappingFilepath" value="mOpS9BUAh1g8pk6Il0MTP+Ec9iPQYppYI/mTXinKs48=" />
  <add key="BBWReadEmailSubject" value="caWoiD/lDTXx7JwxtJyjPQ==" />
  <add key="ROVCONReadEmailSubject" value="tGr1AeZdDZrvSfKzwAeptg==" />
  <add key="CDSSendExceptionEmail" value="wgfptuDZtKP20xquIbsGrhTeN02WbYOP5GiB+zSs8Fg=" />
  <add key="CDSSendMissingConfEmailTo" value="wgfptuDZtKP20xquIbsGrhTeN02WbYOP5GiB+zSs8Fg=" />
  <add key="CDSSendBadDataEmailTo" value="wgfptuDZtKP20xquIbsGrhTeN02WbYOP5GiB+zSs8Fg=" />
  <add key="CDSSendMissingDieselPriceEmailTo" value="wgfptuDZtKP20xquIbsGrhTeN02WbYOP5GiB+zSs8Fg=" />
  <add key="BBBSendExceptionEmail" value="wgfptuDZtKP20xquIbsGrhTeN02WbYOP5GiB+zSs8Fg=" />
  <add key="BBWCustomerName" value="C40CRO/vfPtgGw+XWSazbg==" />
  <add key="BLUDOTReadEmailSubject" value="0IOcUXczDltfAzsK26UtyQ==" />
  <add key="MissingConfFileFolder" value="O8OFI5r3iDXssCSyjJ6MKW2OFasl1cltxBEjeebN7eI=" />
  <add key="BadDataFileFolder" value="O8OFI5r3iDXssCSyjJ6MKaVtApR1NIARfN3el3eYocnS5J5BRT6MV1JgLqR5mIgV" />
  <add key="CDSEnableNewCalculation" value="3Bme5xZsYcDlGtIDe8rJaQ==" />
  <add key="MissingDieselPriceFileFolder" value="O8OFI5r3iDXssCSyjJ6MKdRX8tkNw3+wcGUhGorbjS8I3e6o4G9bQw786A2QLukh" />
  <add key="BBBSendMissingDieselPriceEmail" value="wgfptuDZtKP20xquIbsGrhTeN02WbYOP5GiB+zSs8Fg=" />
  <add key="BandDetailsMissingFileFolder" value="O8OFI5r3iDXssCSyjJ6MKSDU+UIyRueNYWE1lBgwT1xPvizMcT+fPYpAjFjZ+R74" />
  <add key="BBBSendBandDetailsMissingEmail" value="wgfptuDZtKP20xquIbsGrhTeN02WbYOP5GiB+zSs8Fg=" />
  <add key="PricingInfoMissingFileFolder" value="O8OFI5r3iDXssCSyjJ6MKeX9D8u1/FmqdWZfN/WivFFqItz48/jYPYGa5IxEg1gW" />
  <add key="BBBSendPricingInfoMissingEmail" value="wgfptuDZtKP20xquIbsGrhTeN02WbYOP5GiB+zSs8Fg=" />
  <add key="FSCInfoMissingFileFolder" value="O8OFI5r3iDXssCSyjJ6MKUu6kMgJAmMaAPCf9tD392zKg47UFING+fjZOYhyceeL" />
  <add key="BBBSendFSCInfoMissingEmail" value="wgfptuDZtKP20xquIbsGrhTeN02WbYOP5GiB+zSs8Fg=" />
  <add key="SALLYBEAUTYReadEmailSubject" value="ACFLobDqbiFt+O7TizbrBA==" />
  <add key="SALLYBEAUTYServiceLevel" value="2PAPPyN672zrXz82kuTkfQ==" />
  <add key="StoreAddressDetailsMissingFileFolder" value="O8OFI5r3iDXssCSyjJ6MKeo6X1W1F4BKLyGPcR9sJW7+NScGUa0dAKIcxATQCTXo" />
  <add key="SendStoreAddressDetailsMissingEmail" value="wgfptuDZtKP20xquIbsGrhTeN02WbYOP5GiB+zSs8Fg=" />
  <add key="SendStoreAddressDetailsMissingInputFileToEmail" value="wgfptuDZtKP20xquIbsGrhTeN02WbYOP5GiB+zSs8Fg=" />
  <add key="CDSProcessInDataTrac" value="3Bme5xZsYcDlGtIDe8rJaQ==" />
  <add key="DBConnection_Enterprise" value="SYErDwXjj55BxvI9Zz4C94c3DDwUWyT9i1nGJrFVaBIVvY/9LhbKpkWvVNxOYH1t6c3P9FVFTTI9oot4raDhLJECzvWfbVOd0cBzkGo9kKWxFwtFhBNjQg75fs2EsDNAdA+3Wmh3GSftFU2Fa5S4Vg==" />
  <add key="EnterPriseAutomationFileLocation" value="Kwgcvn9c7XKcWMhVFyaikRV4j3ZwD7LQC+EjYmRlXwQ=" />
  <add key="CDSProcessingErrorMessage" value="d+aHK9r7vnm6O9XwjD2/AVYq5fglG7zv1pGyKeH5uUyAzVafatrjK40mB0P0xphnz4AZXwEAOFclvY+kuwYXkf2WW0znkWBhVqzADgzDzg96l0elkpnP6dh71aZlAwWyfTYmWqyvWdiS3GN4hjpVuTY4G28lDoVmZ6Ky076BVh6zrSSrqM1WPC4Ry5MPlb78pOkLMLvNtwm2I4g3qW6+AUetkc7CGZ+4M1W3qmkg9LwdYXSK0tTV8ZG40xJjfK1P3CW9az0u7ldSN9YT+zBMf1XnF2pQDWDD9zaFNunvIwA=" />
 </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.13.1.0" newVersion="2.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>