<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="IMAPHost" value="imap.gmail.com" />
		<add key="IMAPUser" value="drupanavar@jwlogistics.com" />
		<add key="IMAPPassword" value="qbkvunykxzcxwwyo" />
		<add key="IMAPPort" value="993" />
		<add key="AutomationFileLocation" value="D:\DatatracAPIAutomation" />
		<!--<add key="AutomationFileLocation" value="D:\EnterpriseAutomation" />-->
		<add key="AttachmentWorkingFolder" value="D:\JWLRetriveEmail\AttachmentWorkingFolder" />
		<add key="OutputFilesWorkingFolder" value="D:\JWLRetriveEmail\OutputFilesWorkingFolder" />
		<add key="ErrorLogFileLocation" value="D:\JWLRetriveEmail\ErrorLog" />
		<add key="ExecutionLogFileLocation" value="D:\JWLRetriveEmail\ExecutionLog" />
		<add key="ErrorEventLog" value="JWLRetriveEmail" />
		<add key="FromMailID" value="drupanavar@jwlogistics.com" />
		<add key="FromMailPasssword" value="qbkvunykxzcxwwyo" />
		<add key="ToMailID" value="drupanavar@jwlogistics.com" />
		<add key="MailDisclaimer" value="NOTE: Please do not reply to this email." />
		<add key="MailSMTPHost" value="smtp.gmail.com" />
		<add key="MailSMTPPort" value="587" />
		<add key="ApplicationName" value="JWL Retrive Email" />
		<add key="ReadEmailOnlyFrom" value="bludot.com,jwlogistics.com,cyret.com,roveconcepts.com" />
		<!--<add key="BBBReadEmailDomain" value="jwlogistics.com" />-->
		<add key="BBBReadEmailSubject" value="BBB" />
		<add key="BBBCustomerName" value="BBB" />
		<add key="BBBEnable_cartoncountsummary" value="Y" />
		<add key="BBBEnableCartoncountsummaryOnly_orderlineitemAbove" value="999" />
		<add key="MXDRYDReadEmailDomain" value="jwlogistics.com" />
		<add key="MXDRYDReadEmailSubject" value="MXDRYD-FM" />
		<!--<add key="TGTReadEmailDomain" value="jwlogistics.com" />-->
		<add key="TGTReadEmailSubject" value="TGTALL-OD" />
		<add key="TGTCustomerName" value="TGT" />
		<add key="TgtCustomerMappingFilepath" value="D:\JWLRetriveEmail\TGTCustomer_Route_MappingList\TGTCustomer_Route_MappingList_Test.xlsx" />
		<!--<add key="LBRANDSReadEmailDomain" value="jwlogistics.com" />-->
		<add key="LBRANDSReadEmailSubject" value="LBLAS-OD" />
		<add key="LBRANDSCustomerName" value="LB" />
		<add key="DBConnection" value="Data Source=172.25.16.89;Initial Catalog=JWL_Analytics;User ID=drupanavar;Password=;" />
		<add key="EAGetMailLicenseCode" value="EG-C1508812802-00834-B99944D8D67VA77C-5BTDDA5D9D4688C8" />
		<add key="DatatracURL" value="https://login.datatrac.com/rest" />
		<add key="DatatracUserName" value="craval@jwlogistics.com" />
		<add key="DatatracPassword" value="JwLogistics1#" />
		<!--<add key="CDSReadEmailDomain" value="jwlogistics.com" />-->
		<add key="CDSReadEmailSubject" value="CDS" />
		<add key="CDSCustomerName" value="CDS" />
		<add key="CDS_Deliveryactualdeparttime_AddMin" value="15" />
		<add key="CDSCorrectDriverNumberforWill" value="5678" />
		<add key="FSCRatesCustomerMappingFilepath" value="D:\FSCRates\FSCRates.xlsx" />
		<!--<add key="CarrierFSCRatesCustomerMappingFilepath" value="C:\JWLRetriveEmail\FSCRates\CarrierFSCRates_CustomerMappingList.xlsx" />-->
		<!--<add key="BBWReadEmailDomain" value="jwlogistics.com" />-->
		<add key="BBWReadEmailSubject" value="BBWDTW-FM" />
		<add key="ROVCONReadEmailSubject" value="ROVCON-PHX-FM" />
		<add key="CDSSendExceptionEmail" value="drupanavar@jwlogistics.com" />
		<add key="CDSSendMissingConfEmailTo" value="drupanavar@jwlogistics.com" />
		<add key="CDSSendBadDataEmailTo" value="drupanavar@jwlogistics.com" />
		<add key="CDSSendMissingDieselPriceEmailTo" value="drupanavar@jwlogistics.com" />

		<add key="BBBSendExceptionEmail" value="drupanavar@jwlogistics.com" />
		<add key="BBWCustomerName" value="BBW" />
		<add key="BLUDOTReadEmailSubject" value="BLUDOT-FM" />
		<!--<add key="BBB210Filepath" value="C:\JWLRetriveEmail\BBB210Files" />-->
		<add key="MissingConfFileFolder" value="D:\JWLRetriveEmail\MissingConf" />
		<add key="BadDataFileFolder" value="D:\JWLRetriveEmail\BadDataFileFolder" />
		<add key="CDSEnableNewCalculation" value="Y" />
		<add key="MissingDieselPriceFileFolder" value="D:\JWLRetriveEmail\MissingDieselPrice" />
		<add key="BBBSendMissingDieselPriceEmail" value="drupanavar@jwlogistics.com" />
		<add key="BandDetailsMissingFileFolder" value="D:\JWLRetriveEmail\BandDetailsMissing" />
		<add key="BBBSendBandDetailsMissingEmail" value="drupanavar@jwlogistics.com" />
		<add key="PricingInfoMissingFileFolder" value="D:\JWLRetriveEmail\PricingInfoMissing" />
		<add key="BBBSendPricingInfoMissingEmail" value="drupanavar@jwlogistics.com" />
		<add key="FSCInfoMissingFileFolder" value="D:\JWLRetriveEmail\FSCInfoMissing" />
		<add key="BBBSendFSCInfoMissingEmail" value="drupanavar@jwlogistics.com" />
		<add key="SALLYBEAUTYReadEmailSubject" value="SALLYBEAUTY-FM" />
		<add key="SALLYBEAUTYServiceLevel" value="REGULAR" />
		<add key="StoreAddressDetailsMissingFileFolder" value="D:\JWLRetriveEmail\StoreAddressDetailsMissing" />
		<add key="SendStoreAddressDetailsMissingEmail" value="drupanavar@jwlogistics.com" />
		<add key="SendStoreAddressDetailsMissingInputFileToEmail" value="drupanavar@jwlogistics.com" />

		<add key="CDSProcessInDataTrac" value="Y" />
		<add key="DBConnection_Enterprise" value="Data Source=172.25.16.89;Initial Catalog=Enterprise_Dev;User ID=drupanavar;Password=;" />
		<add key="EnterPriseAutomationFileLocation" value="D:\EnterpriseAutomation" />
		<add key="CDSProcessingErrorMessage" value="Immediate action required, please note this file is processed and generated order create input file for Data Trac and email as marked as read. but found some issue while generating order create input file for Enterprise" />

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.13.1.0" newVersion="2.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>