<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="IMAPHost" value="imap.gmail.com" />
		<add key="IMAPUser" value="drupanavar@jwlogistics.com" />
		<add key="IMAPPassword" value="Drupanavar#1" />
		<!--<add key="IMAPUser" value="techservices@jwlogistics.com" />
		<add key="IMAPPassword" value="8Ko>Rg5x" />-->
		<add key="IMAPPort" value="993" />
		<add key="AutomationFileLocation" value="C:\DatatracAPIAutomation" />
		<add key="AttachmentWorkingFolder" value="C:\JWLRetriveEmail\AttachmentWorkingFolder" />
		<add key="OutputFilesWorkingFolder" value="C:\JWLRetriveEmail\OutputFilesWorkingFolder" />
		<add key="ErrorLogFileLocation" value="C:\JWLRetriveEmail\ErrorLog" />
		<add key="ExecutionLogFileLocation" value="C:\JWLRetriveEmail\ExecutionLog" />
		<add key="ErrorEventLog" value="JWLRetriveEmail" />
		<add key="FromMailID" value="techservices@jwlogistics.com" />
		<add key="FromMailPasssword" value="8hN&gt;Rg5w" />
		<add key="ToMailID" value="drupanavar@jwlogistics.com" />
		<add key="MailDisclaimer" value="NOTE: Please do not reply to this email." />
		<add key="MailSMTPHost" value="smtp.gmail.com" />
		<add key="MailSMTPPort" value="587" />
		<add key="ApplicationName" value="JWLRetriveEmail" />
		<add key="ReadEmailOnlyFrom" value="bludot.com,jwlogistics.com,cyret.com" />
		<add key="BBBReadEmailDomain" value="jwlogistics.com" />
		<add key="BBBReadEmailSubject" value="BBB" />
		<add key="BBBCustomerName" value="BBB" />
		<add key="BBBEnable_cartoncountsummary" value="Y" />
		<add key="BBBEnableCartoncountsummaryOnly_orderlineitemAbove" value="999" />
		<add key="MXDRYDReadEmailDomain" value="jwlogistics.com" />
		<add key="MXDRYDReadEmailSubject" value="MXDRYD-FM" />
		<add key="TGTReadEmailDomain" value="jwlogistics.com" />
		<add key="TGTReadEmailSubject" value="TGTALL-OD" />
		<add key="TGTCustomerName" value="TGT" />
		<add key="TgtCustomerMappingFilepath" value="C:\JWLRetriveEmail\TGTCustomer_Route_MappingList\TGTCustomer_Route_MappingList_Test.xlsx" />
		<add key="LBRANDSReadEmailDomain" value="jwlogistics.com" />
		<add key="LBRANDSReadEmailSubject" value="LBLAS-OD" />
		<add key="LBRANDSCustomerName" value="LB" />
		<add key="DBConnectionOld" value="Data Source=192.168.2.142;Initial Catalog=JWL_Analytics;User ID=drupanavar;Password=JwLogistics2!;" />
		<add key="DBConnectionOld1" value="Data Source=172.25.16.84,51343;Initial Catalog=JWL_Analytics;User ID=drupanavar;Password=Jwlogistics3!;"/>
		<add key="DBConnection" value="Data Source=172.25.16.89;Initial Catalog=JWL_Analytics;User ID=drupanavar;Password=JWLogistics4!;"/>
		<add key="EAGetMailLicenseCode" value="EG-C1508812802-00834-B99944D8D67VA77C-5BTDDA5D9D4688C8" />
		<add key="DatatracURL" value="https://login.datatrac.com/rest" />
		<add key="DatatracUserName" value="craval@jwlogistics.com" />
		<add key="DatatracPassword" value="JwLogistics1#" />
		<!--<add key="BBBBillingCustomerNumber" value="1602" />-->
		<!--<add key="BBBServiceType" value="1" />
		<add key="BBBEnteredBy" value="MN2" />
		<add key="BBBRequestedBy" value="BBB" />
		<add key="BBBPickupDeliveryTransferFlag" value="T" />-->
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.13.1.0" newVersion="2.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>